<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}{{ 'app.head.title'|trans }}{% endblock %}</title>
    {% block stylesheets %}
        {% stylesheets
        'assets/vendor/bootstrap/dist/css/bootstrap.min.css'
        'assets/vendor/bootstrap/dist/css/bootstrap-theme.min.css'
        'assets/vendor/nprogress/nprogress.css'
        'assets/vendor/font-awesome/css/font-awesome.min.css'
        filter='cssrewrite'
        %}
        <link rel="stylesheet" type="text/css" href="{{ asset_url }}" />
        {% endstylesheets %}
    {% endblock %}

    {#<link rel="stylesheet" href="{{ asset('assets/vendor/bootstrap/dist/css/bootstrap.min.css') }}" />#}
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    {#<link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />#}
</head>
<body>
{% block body %}{% endblock %}


{% block javascripts %}
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>

    <script type="text/javascript">
        var require = {
            urlArgs: "noCache=" + (new Date).getTime()
        };
    </script>

    <script src="{{ asset('assets/vendor/requirejs/require.js') }}" data-main="/app/main"></script>
{% endblock %}


</body>
</html>
